ultralytics==8.0.157  # YOLOv8 kütüphanesi için
streamlit==1.25.0     # Streamlit uygulama arayüzü için
pillow==11.0.0        # Görsellerle çalışmak için
numpy                 # YOLO ve diğer işlemler için temel bağımlılık

